.formSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
  font-weight: bold;
  font-size: 17px;
}

.inputSettings {
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  color: var(--text-default);
  text-align: center;
  padding: 9px;
  transition: all 0.1s ease-in-out;
  outline: 2px solid var(--primary);
  border-radius: 10px;
  border-bottom: 2px solid transprent;
  border-color: var(--primary);
}

.inputSettings::placeholder {
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
}

.inputSettings:disabled {
  border-bottom: 2px solid var(--disabled);
  color: var(--text-muted);
}
