.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  background: var(--gray-200);
  border: 3px solid var(--warning);
  border-radius: 35px;
  padding: 24px;
  box-sizing: border-box;
}

.buttonsContainer {
  display: flex;
  gap: 18px;
}

.buttonsContainer button {
  min-width: auto;
  margin: 0;
}

.buttonsContainer svg {
  width: 20px;
  height: 20px;
}

:global(.Toastify__toast.dialogToast) {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  font-weight: 500 !important;
  text-shadow: none !important;
  color: var(--gray-800) !important;
  opacity: 1 !important;
}